@{ 
     ViewData["Title"] = "Checkout"; 
 } 
@model FraudPrediction
 
 <div style="width: 100vw; height: 150px; position: relative; background: #FFF6C9; display: flex; justify-content: flex-start; align-items: center; padding-left: 100px;"> 
     <h1 style="font-size: 60px;">Checkout</h1> 
 </div> 
 <div class="untree_co-section"> 
 <div class="container"> 
   <div class="row mb-5"> 
     <div class="col-md-12"> 
       <div class="border p-4 rounded" role="alert"> 
         Returning customer? <a href="#">Click here</a> to login 
       </div> 
     </div> 
   </div> 
   <form action="/Home/Predict#predictionResult" method="post"> 
   <div class="row"> 
     <div class="col-md-6 mb-5 mb-md-0"> 
       <h2 class="h3 mb-3 text-black">Billing Details</h2> 
       <div class="p-3 p-lg-5 border bg-white"> 
      
           @* <div class="form-group"><label>Amount:</label><input asp-for="Amount" type="number" name="amount"/></div>  *@
           @* <div class="form-group"> *@
           @*   <label asp-for="Amount">Amount</label> *@
           @*   <input asp-for="Amount" class="form-control" step="0.01" placeholder="Enter Amount"> *@
           @* </div> *@
           <div class="form-group"> 
             <label for="c_country" class="text-black">Country for billing <span class="text-danger">*</span></label> 
             <select id="c_country" class="form-control" onchange="updateCountryTransaction()"> 
               <option value="" disabled selected>Select country</option> 
               <option value="China">China</option> 
               <option value="India">India</option> 
               <option value="Russia">Russia</option> 
               <option value="USA">United States of America</option> 
               @* <option value="UnitedKingdom">United Kingdom</option>  *@
             </select> 
           </div> 
           @* <input type="hidden" asp-for="CountryOfTransactionUnitedKingdom" id="countryTransactionUnitedKingdom" value="0" />  *@
           <input type="hidden" asp-for="@Model.CountryOfTransactionIndia" id="countryTransactionIndia" value="0" /> 
           <input type="hidden" asp-for="@Model.CountryOfTransactionRussia" id="countryTransactionRussia" value="0" /> 
           <input type="hidden" asp-for="@Model.CountryOfTransactionUsa" id="countryTransactionUSA" value="0" /> 
           @* <input type="hidden" asp-for="@Model.FraudPrediction.CountryOfTransactionUnitedKingdom" id="countryTransactionUnitedKingdom" value="0" />  *@
           
           <div class="form-group row"> 
             <div class="col-md-6"> 
               <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label> 
               <input type="text" class="form-control" id="c_fname" name="c_fname"> 
             </div> 
             <div class="col-md-6"> 
               <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label> 
               <input type="text" class="form-control" id="c_lname" name="c_lname"> 
             </div> 
           </div> 
            
           <div class="form-group row"> 
             <div class="col-md-6"> 
               <label for="bank" class="text-black">Bank <span class="text-danger">*</span></label> 
               <select id="bank" class="form-control" onchange="updateBank()"> 
                 <option value="" disabled selected>Select bank</option> 
                 <option value="Barclays">Barclays</option> 
                 <option value="HSBC">HSBC</option> 
                 <option value="Halifax">Halifax</option> 
                 <option value="Lloyds">Lloyds</option> 
                 <option value="Metro">Metro</option> 
                 <option value="Monzo">Monzo</option> 
                 <option value="RBS">RBS</option> 
               </select> 
             </div> 
             <input type="hidden" asp-for="@Model.BankHsbc" id="bankHSBC" value="0" /> 
             <input type="hidden" asp-for="@Model.BankHalifax" id="bankHalifax" value="0" /> 
             <input type="hidden" asp-for="@Model.BankLloyds" id="bankLloyds" value="0" /> 
             <input type="hidden" asp-for="@Model.BankMetro" id="bankMetro" value="0" /> 
             <input type="hidden" asp-for="@Model.BankMonzo" id="bankMonzo" value="0" /> 
             <input type="hidden" asp-for="@Model.BankRbs" id="bankRBS" value="0" /> 
      
             <div class="col-md-6"> 
               <label for="cardType" class="text-black">Type of Card <span class="text-danger">*</span></label> 
               <select id="cardType" class="form-control" onchange="updateCardType()"> 
                 <option value="" disabled selected>Select card</option> 
                 <option value="MasterCard">MasterCard</option> 
                 <option value="Visa">Visa</option> 
               </select> 
             </div> 
             <input type="hidden" asp-for="@Model.TypeOfCardVisa" id="typeofcardVisa" value="0" /> 
           </div> 
            
            
 
           <div class="form-group row mb-5"> 
            
             <div class="col-md-6"> 
               <label for="transactionType" class="text-black">Transaction Method <span class="text-danger">*</span></label> 
               <select id="transactionType" class="form-control" onchange="updateTransactionType()"> 
                <option value="" disabled selected>Select method</option> 
                 <option value="Online">Online</option> 
                 <option value="ATM">ATM</option> 
                 <option value="POS">POS</option> 
               </select> 
             </div> 
             <input type="hidden" asp-for="@Model.TypeOfTransactionOnline" id="transactionTypeOnline" value="0" /> 
             <input type="hidden" asp-for="@Model.TypeOfTransactionPos" id="transactionTypePOS" value="0" /> 
 
             <div class="col-md-6"> 
               <label for="entryMode" class="text-black">Entry Mode <span class="text-danger">*</span></label> 
               <select id="entryMode" class="form-control" onchange="updateEntryMode()"> 
                 <option value="" disabled selected>Select mode</option> 
                 <option value="CVV">CVV</option> 
                 <option value="PIN">PIN</option> 
                 <option value="Tap">Tap</option> 
               </select> 
             </div> 
             <input type="hidden" asp-for="@Model.EntryModePin" id="entryModePIN" value="0" /> 
             <input type="hidden" asp-for="@Model.EntryModeTap" id="entryModeTap" value="0" /> 
 
           </div> 
            
           <div class="form-group row"> 
             <div class="col-md-12"> 
               <label for="c_address" class="text-black">Shipping Address <span class="text-danger">*</span></label> 
                @* <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">   *@
                <select id="c_address" class="form-control" onchange="updateShippingAddress()"> 
                 <option value="" disabled selected>Select country</option> 
                 <option value="China">China</option> 
                 <option value="India">India</option> 
                 <option value="Russia">Russia</option> 
                 <option value="USA">United States of America</option> 
                 @* <option value="UnitedKingdom">United Kingdom</option>  *@
               </select> 
             </div> 
             <input type="hidden" asp-for="@Model.ShippingAddressIndia" id="shippingAddressIndia" value="0" /> 
             <input type="hidden" asp-for="@Model.ShippingAddressRussia" id="shippingAddressRussia" value="0" /> 
             <input type="hidden" asp-for="@Model.ShippingAddressUsa" id="shippingAddressUSA" value="0" /> 
             @* <input type="hidden" asp-for="@Model.FraudPrediction.ShippingAddressUnitedKingdom" id="shippingAddressUnitedKingdom" value="0" />  *@
           </div> 
            
           <div class="form-group"> 
             <label for="c_order_notes" class="text-black">Order Notes</label> 
             <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea> 
           </div> 
          
         
       </div> 
     </div> 
        
     <div class="col-md-6"> 
 
          
 
       <div class="row mb-5"> 
         <div class="col-md-12"> 
           <h2 class="h3 mb-3 text-black">Your Order</h2> 
           <div class="p-3 p-lg-5 border bg-white"> 
             <table class="table site-block-order-table mb-5"> 
               <thead> 
               <th>Product</th> 
               <th>Total</th> 
               </thead> 
               @* <tbody>  *@
               @*  @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>()) *@
               @*  { *@
               @*      <div> *@
               @*          <h3>@product.Name</h3> *@
               @*          <p>@product.Description</p> *@
               @*          <p>$@product.Price</p> *@
               @*      </div> *@
               @*  } *@
               @* <tr>  *@
               @*   <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>  *@
               @*   <td class="text-black">$350.00</td>  *@
               @* </tr>  *@
               @* <tr>  *@
               @*   <td class="text-black font-weight-bold"><strong>Order Total</strong></td>  *@
               @*   <td class="text-black font-weight-bold"><strong>$350.00</strong></td>  *@
               @* </tr>  *@
               @* </tbody>  *@
               <tbody>
               @* @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>()) *@
               @* { *@
               @*   <tr> *@
               @*     <td>@l.Product.Name <strong class="mx-2">x</strong> @l.Quantity</td> *@
               @*     <td>@((l.Quantity * l.Product.Price).ToString("c"))</td> *@
               @*   </tr> *@
               @* } *@
               
               <tr>
                 <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                 @* <td class="text-black">@Model.Cart?.CalculateTotal().ToString("c")</td> *@
                 <div class="form-group">
                       <label asp-for="Amount">Amount</label>
                       <input asp-for="Amount" class="form-control" placeholder="Enter Amount">
                       </div>
               </tr>
               <tr>
                 <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                 @* <td class="text-black font-weight-bold"><strong>@Model.Cart?.CalculateTotal().ToString("c")</strong></td> *@
               </tr>
               </tbody>
             </table> 
 
             <div class="border p-3 mb-3"> 
               <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Return Policy</a></h3> 
                
               <div class="collapse" id="collapsebank"> 
                 <div class="py-2"> 
                   <p class="mb-0">Due to a high amount of fraudulent orders, we have paused the ability to accept returns. Additionally, your order will not be shipped until your bank has verified the payment type you've selected.</p> 
                 </div> 
               </div> 
             </div> 
                
             <div class="form-group"> 
               <button class="btn btn-black btn-lg py-3 btn-block" type="submit" value="Submit Order">Place Order</button> 
             </div> 
 
           </div> 
         </div> 
       </div> 
       <div class="row mb-5"> 
         <div class="col-md-12"> 
           <h2 class="h3 mb-3 text-black">Coupon Code</h2> 
           <div class="p-3 p-lg-5 border bg-white"> 
 
             <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label> 
             <div class="input-group w-75 couponcode-wrap"> 
               <input type="text" class="form-control me-2" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2"> 
               <div class="input-group-append"> 
                 <button class="btn btn-black btn-sm" type="button" id="button-addon2">Apply</button> 
               </div> 
             </div> 
 
           </div> 
         </div> 
       </div> 
 
     </div> 
   </div> 
   </form> 
   <!-- </form> --> 
 </div> 
 </div> 
 @section Scripts{
     <script>
         // function updateDayOfWeek() {
         //     // Reset all day of the week values to 0
         //     document.getElementsByName("DayOfWeekMon")[0].value = 0;
         //     document.getElementsByName("DayOfWeekTue")[0].value = 0;
         //     document.getElementsByName("DayOfWeekWed")[0].value = 0;
         //     document.getElementsByName("DayOfWeekThu")[0].value = 0;
         //     document.getElementsByName("DayOfWeekSat")[0].value = 0;
         //     document.getElementsByName("DayOfWeekSun")[0].value = 0;
         //     // Get the selected day of the week from the dropdown
         //     var selectedDay = document.getElementById("dayOfWeek").value;
         //     // Set the corresponding day of the week value to 1
         //     document.getElementsByName("DayOfWeek" + selectedDay)[0].value = 1;
         // }
 
         function updateEntryMode() {
             // Reset all entry mode values to 0
             document.getElementById("EntryModePIN").value = 0;
             document.getElementById("EntryModeTap").value = 0;
 
             // Get the selected entry mode from the dropdown
             var selectedEntryMode = document.getElementById("entryMode").value;
 
             // Set the corresponding entry mode value to 1
             document.getElementById("EntryMode" + selectedEntryMode).value = 1;
         }
 
         function updateTransactionType() {
             // Reset all transaction type values to 0
             document.getElementById("TransactionTypeOnline").value = 0;
             document.getElementById("TransactionTypePOS").value = 0;
 
             // Get the selected transaction type from the dropdown
             var selectedTransactionType = document.getElementById("transactionType").value;
 
             // Set the corresponding transaction type value to 1
             document.getElementById("TransactionType" + selectedTransactionType).value = 1;
         }
 
         function updateCountryTransaction() {
             // Reset all country of transaction inputs to 0
             document.getElementsByName("CountryOfTransactionIndia")[0].value = 0;
             document.getElementsByName("CountryOfTransactionRussia")[0].value = 0;
             document.getElementsByName("CountryOfTransactionUsa")[0].value = 0;
             // document.getElementsByName("CountryOfTransactionUnitedKingdom")[0].value = 0;
             var selectedCountry = document.getElementById("countryTransaction").value;
 
             // Set the value of the selected country input to 1
             document.getElementsByName("CountryOfTransaction" + selectedCountry)[0].value = 1;
         }
 
         function updateShippingAddress() {
             // Reset all shipping address inputs to 0
             document.getElementsByName("ShippingAddressIndia")[0].value = 0;
             document.getElementsByName("ShippingAddressRussia")[0].value = 0;
             document.getElementsByName("ShippingAddressUsa")[0].value = 0;
             // document.getElementsByName("ShippingAddressUnitedKingdom")[0].value = 0;
 
             var selectedAddress = document.getElementById("shippingAddress").value;
 
             // Set the value of the selected shipping address input to 1
             document.getElementsByName("ShippingAddress" + selectedAddress)[0].value = 1;
         }
 
         function updateCardType() {
             // Reset all card type inputs to 0
             document.getElementsByName("TypeOfCardVisa")[0].value = 0;
 
             var selectedCard = document.getElementById("cardType").value;
 
             // Set the value of the selected card type input to 1
             document.getElementsByName("TypeOfCard" + selectedCard)[0].value = 1;
         }
 
         function updateBank() {
             // Reset all bank inputs to 0
             document.getElementsByName("BankHsbc")[0].value = 0;
             document.getElementsByName("BankHalifax")[0].value = 0;
             document.getElementsByName("BankLloyds")[0].value = 0;
             document.getElementsByName("BankMetro")[0].value = 0;
             document.getElementsByName("BankMonzo")[0].value = 0;
             document.getElementsByName("BankRbs")[0].value = 0;
 
             var selectedBank = document.getElementById("bank").value;
 
             // Set the value of the selected bank input to 1
             document.getElementsByName("Bank" + selectedBank)[0].value = 1;
         }
     </script>
 }