@model PaginationListViewModel
@{
    Layout = "_AdminLayout";
}
<div style="width: 100vw; height: 150px; position: relative; background: #FFF6C9; display: flex; justify-content: flex-start; align-items: center; padding-left: 100px;">
    <h1 style="font-size: 60px;">Products</h1>
</div>

<table class="table table-bordered">

    <thead class="fw-bold">
    <tr>
        <td>Product ID</td>
        <td>Name</td>
        <td>Year</td>
        <td>Number of Parts</td>
        <td>Price</td>
        <td>Image Link</td>
        <td>Primary Color</td>
        <td>Secondary Color</td>
        <td>Description</td>
        <td>Category</td>
        <td><a class="btn btn-danger" asp-controller="Admin" asp-action="">Add Product</a></td>
    </tr>
        
    </thead>
    
    @foreach (var x in Model.Products)
    {
        <tbody>
        <tr>
            <td>@x.ProductId</td>
            <td>@x.Name</td>
            <td>@x.Year</td>
            <td>@x.NumParts</td>
            <td>@x.Price</td>
            <td>@x.ImgLink</td>
            <td>@x.PrimaryColor</td>
            <td>@x.SecondaryColor</td>
            <td>@x.Description</td>
            <td>@x.Category</td>
            <td><a class="btn btn-info" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@x.ProductId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@x.ProductId">Delete</a></td>
        </tr>
        </tbody>
    }
    
</table>
<div page-model="@Model.PaginationInfo" page-action="AdminProducts"></div>