@page
@model brickwell2.Pages.CartModel
@{
  ViewData["Title"] = "Cart";
}
<div style="width: 100vw; height: 150px; position: relative; background: #FFF6C9; display: flex; justify-content: flex-start; align-items: center; padding-left: 100px;">
	<h1 style="font-size: 60px;">Your Cart</h1>
</div>
<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
            @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
            {
              <tr>
                <td><img src="@l.Product.ImgLink" alt="@l.Product.Name" style="height: 150px; width: auto;" /></td>
                <td class="product-name"><h2 class="h5 text-black">@l.Product.Name</h2></td>
                <td>$@l.Product.Price.00</td>
                <td class="">@l.Quantity</td>
                <td>@((l.Quantity * l.Product.Price).ToString("c"))</td>
                @* <td><a href="#" class="btn btn-black btn-sm">X</a></td> *@
                <td class="text-center">
                  <form asp-page-handler="Remove" method="post">
                    <input type="hidden" name="ProductId" value="@l.Product.ProductId"/>
                    <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl."/>
                    <button type="submit" class="btn btn-sm btn btn-danger">
                      X
                    </button>
                  </form>
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6">
            <a class="btn btn-sm btn-block" style="font-weight: 700; color: black; background: #FEC107; border-radius: 15px; transform: translate(0, -50%); font-size: 18px; border: none" asp-controller="Home" asp-action="Products" >Continue Shopping</a>
          @* href="@Model.ReturnUrl" *@
            </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Subtotal</span>
              </div>
              <div class="col-md-6 text-right">
                @* <strong class="text-black">$230.00</strong> *@
                <strong class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</strong>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                @* <strong class="text-black">$230.00</strong> *@
                <strong class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                @* <button class="btn btn-lg py-3 btn-block" style="margin-top: 30px; font-weight: 700; color: black; background: #FEC107; border-radius: 15px; transform: translate(0, -50%); font-size: 18px; border: none" onclick="window.location='checkout.html'">Proceed To Checkout</button> *@
                <a class="btn btn-lg py-3 btn-block" style="margin-top: 30px; font-weight: 700; color: black; background: #FEC107; border-radius: 15px; transform: translate(0, -50%); font-size: 18px; border: none" asp-controller="Home" asp-action="Checkout" asp-route-total="@Model.Cart?.CalculateTotal()">Proceed to Checkout</a>
                @* <form method="post" asp-page="/Checkout" asp-route-returnUrl="@ViewData["ReturnUrl"]"> *@
                @*   <input type="hidden" value="@Model.Cart" /> *@
                @*   <button asp-controller="Home" asp-action="Checkout" type="submit" class="btn btn-lg py-3 btn-block" style="margin-top: 30px; font-weight: 700; color: black; background: #FEC107; border-radius: 15px; transform: translate(0, -50%); font-size: 18px; border: none;">Proceed to Checkout</button> *@
                @* </form> *@
                @* <form method="post" asp-page="/Checkout" asp-route-returnUrl="@ViewData["ReturnUrl"]"> *@
                @*     <input type="hidden" name="cart" value="@Json.Serialize(Model.Cart)" /> *@
                @*     <button type="submit" class="btn btn-lg py-3 btn-block" style="margin-top: 30px; font-weight: 700; color: black; background: #FEC107; border-radius: 15px; transform: translate(0, -50%); font-size: 18px; border: none;">Proceed to Checkout</button> *@
                @* </form> *@

                @* asp-route-id="@x.Id" *@
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>