@using brickwell2.Infrastructure

@model Product

<div class="col-12 col-md-4 col-lg-4 mb-5">
    <a class="product-item" asp-controller="Home" asp-action="ProductDetail" asp-route-id="@Model.ProductId">
        <input type="hidden" asp-for="@Model.ProductId">
        <img src="@Model.ImgLink" alt="@Model.Name" class="img-fluid product-thumbnail">
        <h3 class="product-title">@Html.Raw(Model.Name.Replace("LEGO®", "LEGO&reg;").Replace("™", "&trade;"))</h3>
        <strong class="product-price">$@Model.Price.00</strong>
        <span class="icon-cross">
            <form id=@Model.ProductId method="post" asp-page="/Cart">
                <input type="hidden" asp-for="ProductId"/>
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                <button type="submit" style="background-color: transparent; border: none;">
                    <img src="~/images/cross.svg" alt="plus" class="img-fluid">
                </button>
            </form>
        </span>
    </a>
</div>
